li {
  padding: 5px;
  margin: 5%;
  background: #cc9c5e;
  width: 85%;
  height: 100px;
  position: relative;
  line-height: 500%;
  opacity: .8;
}
ul {
  list-style: none;
}
button{
}
h2{
  font-size: 44px;
}
body{
  background: rgb(172, 140, 0);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.icon{
  width: 50px;
  height: 50px;
}

.sendItBack,
.cashIt,
.tossIt,
.serveIt{
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
}

.tossIt{
  background: red;
  background-image: url("../images/tossIt.png");
  background-size: contain;
  right: 0;
  border: raised;
}

.serveIt{
  background: green;
  background-image: url("../images/serveIt.png");
  background-size: contain;
  border: raised;
  right: 105px;
}

.sendItBack{
  background: red;
  background-image: url("../images/sendItBack.png");
  background-size: auto 100%;
  border: raised;
  right: 105px;
}

.cashIt{
  background: green;
  background-image: url("../images/cashIt.png");
  background-size: contain;
  border: raised;
  right: 0;
}

.show{
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
}
.hide{
  display: none;
}

.menuImg,
.menuItem,
.menuName,
.menuDescription{
  margin: 5%;
}

.menuImg{
  width: 210px;
  height: 210px;
  border: ridge;
  display: block;
}
.menuItem{
  position: relative;
  width: 90%;
  left: 5%;
}
.menuName{
  font-size: 34px;
  position: absolute;
  line-height: 1;
}


#menuBtn{
  margin-left: 5%;
  width: 100px;
  height: 65px;
}
#orderName{
  width: 600px;
  height: 500px;
  background: darkred;
  position: fixed;
  top: 15%;
  width: 50%;
  left: 25%;
}

#kitchen{
  position: fixed;
  left: 14%;
  width: 35%;
  height: 80%;
  background-image: url("../images/stainlessSteel.jpg");
}
#diningRoom{
  position: fixed;
  right: 14%;
  width: 35%;
  height: 80%;
  background-image: url("../images/diningRoom.jpg");
  background-size: auto 100%;
}
#menu{
  background: rgb(61, 32, 5);
  height: 900px;
  width: 60%;
  z-index: 100;
  position: fixed;
  top: 5%;
  left: 20%;
  opacity: .95;
}
#title{
  font-size: 64px;
  margin-left: 5%;
}